@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registrar";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Asociar su cuenta de @Model.ProviderDisplayName.</h2>
<hr />

<p id="external-login-description" class="text-info">
    Ha iniciado sesión correctamente con <strong>@Model.ProviderDisplayName</strong>.
    Por favor, ingrese una dirección de correo electrónico para este sitio y haga clic en el botón Registrar para finalizar
    el inicio de sesión.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Ingrese su correo electrónico." />
                <label asp-for="Input.Email" class="form-label">Correo electrónico</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
