@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Esta aplicación actualmente no tiene un servicio de correo electrónico real configurado, consulte <a href="https://aka.ms/aspaccountconf">estos documentos</a> para saber cómo configurar un servicio de correo real.
            Normalmente, esto se enviaría por correo: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Haga clic aquí para confirmar su cuenta</a>
        </p>
    }
    else
    {
        <p>
            Por favor, revise su correo electrónico para confirmar su cuenta.
        </p>
    }
}
