@{
    ViewData["Title"] = "Ventas";
}
<h1>Ventas</h1>
<p>Bienvenido a la sección de Ventas. Aquí puedes gestionar todas las operaciones relacionadas con las ventas de productos.</p>
<a asp-action="Create">Crear Nueva Venta</a>

