@model IEnumerable<Taller_proyectoMVC_NicolZapata.Models.Venta>

<h1>Ventas</h1>
<p>Bienvenido a la sección de Ventas. Aquí puedes gestionar todas las operaciones relacionadas con las ventas de productos.</p>
<a asp-action="Create">Crear Nueva Venta</a>

<table class="table">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Fecha de Venta</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var venta in Model)
        {
            <tr>
                <td>@venta.Cliente?.Nombre</td>
                <td>@venta.Producto?.Nombre</td>
              
            </tr>
        }
    </tbody>
</table>

